.rasa {
         font-family: "Rasa", serif;
         font-optical-sizing: auto;
         font-weight: 400;
         font-style: normal;
       }

.playfair-display {
                     font-family: "Playfair Display", serif;
                     font-optical-sizing: auto;
                     font-weight: 400;
                     font-style: normal;
                   }
html {
  color: #41280f;
  font-size: 1.4em;
  line-height: 1.4;
}

body {
  background: url("../img/cloudForProject.png") 180% -150% no-repeat,
              url("../img/cloudForProject.png") -100% -150% no-repeat,
              linear-gradient(to right, rgb(224, 210, 201), rgb(255, 255, 255), rgb(224, 210, 201));
  text-align: center;
  font-family: Rasa;
  animation: move-background-top 2s ease-out;
  margin: 0px;
  margin-bottom: 50px;
}

.hamburger-button {
  border: none;
  border-radius: 15px;
  background-color: unset;
}
.hamburger-button:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
.hamburger {
  width: 50px;
}
.bar-button {
  transform: scale(1);
  margin-left: 10px;
}
main {
  background: url("../img/cloudForProject.png") no-repeat,
  url("../img/cloudForProject.png") no-repeat;
  animation: move-background-middle 50s linear infinite;
}
.header {
  font-size: 30px;
  margin-bottom: 70px;
}

.block {
  width: 1000px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

.hor-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 98%;
  padding: 20px;
  margin: 0 20px 0 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}

.hor-bar-elements {
  display: inline;
}

.invisible-buttons {
  display: flex;
}


h1, h2 {
  font-family: "Playfair Display";
  color: #41280f;
  margin: 0px;
}

h1 {
  font-size: 100px;
  margin-top: 100px;
}

h2 {
  font-size: 50px;
  color: #211505;
}

p {
  font-size: 25px;
}

.button {
  font-family: "Playfair Display";
  font-size: 20px;
  background-color: #eee2d7;
  border: 2px solid;
  border-color: #41280f;
  border-radius: 14px;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
}

.button:hover {
  background-color: #41280f;
  color: #eee2d7;
  transition: all 0.3s ease;
}

.not-animated {
  opacity: 0;
}
.element-to-animate {
  height: fit-content;
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move-background-top {
  0% {
    background-position: 200% -350%, -200% -350%;
  }
  100% {
    background-position: 180% -150%, -100% -150%;
  }
}
@keyframes move-background-middle {
  from {
    background-position: 300% -200px, -300%  200px;
  }
  to {
    background-position: -300% -200px, 300% 200px;
  }
}



.wrapper {
  display: inline;
  align: center;
  position: fixed;
  width: 30%;
  height: 500px;
  transform: translateX(-50%);
  /*background: black;*/
  z-index: 5;
  border: 2px solid rgb(33, 21, 5);
  border-radius: 20px;
  background: rgb(238, 226, 215, 0.95);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0, 0.5);
}

.expand {
  transform: scale(0%);
}

.wrapper .form-box {
  position: absolute;
  text-align: left;
  padding: 60px;
}

/*.invisible {*/
/*  transform: scale(0);*/
/*}*/

.wrapper .form-box h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15%;
}

.input-box {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(33, 21, 5);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  left: 15%;
  transform: translateY(-150%);
  font-size: 1em;
  font-weight: 400;
  pointer-events: none;
  transition: .5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
  transform: scaleY(0);
}

.button-login {
  width: 100%;
  align: center;
}

.remember-forgot {
  margin-top: 10px;
  font-size: .9em;
  width: 100%;
  text-align: center;
  color: #211505;
  font-family: Rasa;
}

.login-register {
  /*width: 100%;*/
  font-size: .5em;
  text-align: center;
}
.login-register p {
  width: 100%;
  font-size: 24px;
  margin: 13px 0 0 0;
}

 .back-image {
  width: 50px;
}

.back-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: 2px solid #211505;
  border-radius: 20px;
  z-index: 50;
  transition: .5s;
}

.back-button:hover {
  background: rgba(255, 255, 255, 0.5);
}
