.rasa {
         font-family: "Rasa", serif;
         font-optical-sizing: auto;
         font-weight: 400;
         font-style: normal;
       }

.playfair-display {
                     font-family: "Playfair Display", serif;
                     font-optical-sizing: auto;
                     font-weight: 400;
                     font-style: normal;
                   }
html {
  color: #41280f;
  font-size: 1.4em;
  line-height: 1.4;
}

body {
  background: url("../cloudForProject.png") 180% -250% no-repeat,
              url("../cloudForProject.png") -100% -200% no-repeat,
              linear-gradient(to right, rgb(224, 210, 201), rgb(255, 255, 255), rgb(224, 210, 201));
  text-align: center;
  font-family: Rasa;
  animation: move-background-top 2s ease-out;

}

main {
  background: url("../cloudForProject.png") no-repeat,
  url("../cloudForProject.png") no-repeat;
  animation: move-background-middle 10s linear infinite;
}
.header {
  font-size: 30px;
  margin-bottom: 70px;
}

.block {
  width: 1000px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

h1, h2 {
  font-family: "Playfair Display";
  color: #41280f;
  margin: 0px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
  color: #211505;
}

p {
  font-size: 25px;
}

button {
  font-family: "Playfair Display";
  font-size: 20px;
  background-color: #eee2d7;
  border: 2px solid;
  border-color: #41280f;
  border-radius: 14px;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #41280f;
  color: #eee2d7;
  transition: all 0.3s ease;
}
.not-animated {
  opacity: 0;
}
.element-to-animate {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move-background-top {
  0% {
    background-position: 200% -350%, -200% -350%;
  }
  100% {
    background-position: 180% -250%, -100% -200%, 350% -50%;
  }
}
@keyframes move-background-middle {
  from {
    background-position: 400% -200%, -300%  0%;
  }
  to {
    background-position: -300% -200%, 400% 0%;
  }
}
